<!doctype html>
<html>
    <head>
      {% if title %}
      <title>{{ title }} - BaseballWizard</title>
      {% else %}
      <title>Welcome to BaseballWizard</title>
      {% endif %}
    </head>
    <body>
		<div class="topnav">
			BaseballWizard:
			<a href="{{ url_for('index') }}">Home</a>
			{% if current_user.is_anonymous %}
			<a href="{{ url_for('login') }}">Login</a>
			{% else %}
			<a href="{{ url_for('user', username=current_user.username) }}">Profile</a>
			<a href="{{ url_for('logout') }}">Logout</a>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
            Search Baseball Players
        </ul>
        {% if g.search_form %}
        <form class="navbar-form navbar-left" method="get"
                action="{{ url_for('search') }}">
            <div class="form-group">
                {{ g.search_form.q(size=20, class='form-control',
                    placeholder=g.search_form.q.label.text) }}
            </div>
        </form>
        {% endif %}
			{% endif %}
		</div>
	
        <hr>
        {% block content %}{% endblock %}
    </body>
</html>
