{% extends "base.html" %}
<!-- Player information block -->
{% block content %}
<div style="display:flex;flex-direction:row;flex-wrap: wrap; width:100%;">
	<div style="width:100%;">
		<h1>{{player.nameFirst}}  {{player.nameLast}}</h1>
		<h4>Position:  </h4>
		<h4>Bats:{{player.bats}}      Thows: {{player.throws}}  </h4>
		<p>{{ "%.0f"| format(player.height/12) }}-{{ "%.0f"| format(((player.height/12)%1)*10) }}, {{player.weight}}lb  ( {{"%.0f"| format(player.height*2.54)}}cm, {{"%.2f"| format(player.weight/2.205)}}kg )
		</p>
		
		<p>Born: {{player.dateFormatter(player.birth_date, "%B %d, %Y")}} 
		{% if player.death_date is none %}(Age: {{player.getAge()}} )  
		{% endif %} in {{player.birthCity}}, 
		{% if player.birthCountry == 'USA' %}{{player.birthState}} {% else %} {{player.birthCountry}} 
		{% endif %}</p>
		{% if player.death_date is not none %}
		<p>Died: {{player.dateFormatter(player.death_date, "%B %d, %Y") }} (Age: {{player.getAge()}} ) 
		{% endif %} in {{player.deathCity}}, 
		{% if player.deathCountry == 'USA' %}{{player.deathState}} {% else %} {{player.deathCountry}}
		{% endif %} 
		</p> 
		<p>Debut: {{player.dateFormatter(player.debut_date, "%B %d, %Y")}} </p>
		<p>{% if player.finalgame_date is not none %} Last Game: {{player.dateFormatter(player.finalgame_date, "%B %d, %Y")}} {% endif %}  </p>
		<p>Full Name: {{player.nameGiven}} {{player.nameLast}}</p>
		
		<br>
		
		<table style="width:50%;">
			<tr>
				<th style="border-right: solid; width: 78px; text-align:left;">Summary</th>
				<th>AB</th>
				<th>H</th>
				<th>HR</th>
				<th style="border-right: solid;">BA</th>
				<th>R</th>
				<th>RBI</th>
				<th>SB</th>
			</tr>
			<tr>
				<td style="border-right: solid;vertical-align: middle;">Carrer</td>
				<td style="text-align: center;vertical-align: middle;">{{carrer_summary['sumAB']}}</td>
				<td style="text-align: center;vertical-align: middle;">{{carrer_summary['sumHits']}}</td>
				<td style="text-align: center;vertical-align: middle;">{{carrer_summary['sumHr']}}</td>
				<td style="border-right: solid;text-align: center;vertical-align: middle;">{{"%.3f"| format(carrer_summary['ba'])}}</td>
				<td style="text-align: center;vertical-align: middle;">{{carrer_summary['sumR']}}</td>
				<td style="text-align: center;vertical-align: middle;">{{carrer_summary['SumRBI']}}</td>
				<td style="text-align: center;vertical-align: middle;">{{carrer_summary['sumSB']}}</td>
			</tr>
		</table>
	</div>
	<!-- Commenting out until verification of awards
	<div>
	{% for awards in player.awards %}
		<p>{{awards.awardId}}</p>
	{% endfor %}
	</div>-->
</div>

	{% if player.battingDetails is not none %}
		
			<table>
				<tr>
					<th>Year </th>
					<th>Age </th>
					<th>Tm </th>
					<th>Lg </th>
				</tr>
				{% for batting in player.battingDetails %}
					<tr>
						<td>{{batting.yearId}}</td>
						<td>{{batting.getAge(player.birthYear)}}</td>
						<td>{{batting.teamId}}</td>
						<td>{{batting.lgId}}</td>
					</tr>
				{% endfor %}
			</table>
		
	{% endif %}
	
{% endblock %}